@import 'mixins';
@import 'variables';
@import 'typography';

body {
  overflow-x: hidden;
  transition: margin-left 0.5s;
}

main {
  margin-top: 50px;

  @include tablet {
    margin-top: 113px;
  }
}

a {
  display: block;
  width: 100%;
  color: #212529;
  text-decoration: none;
}

.bullets {
  &--triangular {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;

    li:before {
      position: relative;
      top: 0.9em;
      left: -1em;
      display: block;
      width: 0;
      height: 0;
      border-width: 0.35em 0 0.35em 0.45em;
      border-style: solid;
      border-color: transparent #111;
      content: '';
    }
  }

  &--hidden {
    margin-top: 1.5rem;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 0.5rem;
    }
  }

  &--numbered {
    padding: 0 0 0 3rem;
    list-style: none;
    counter-reset: numbered-counter;

    li {
      display: flex;
      align-items: center;
      min-height: 3rem;
      margin-bottom: 1rem;

      &:before {
        position: absolute;
        left: 1rem;
        width: 2rem;
        height: 2rem;
        color: white;
        line-height: 2rem;
        text-align: center;
        background: $numbered-bullet-color;
        border-radius: 50%;
        counter-increment: numbered-counter;
        content: counter(numbered-counter);
      }
    }
  }
}

.blog-post-content {
  h2,
  h3,
  h4 {
    margin-top: 2rem;
  }
  h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  img {
    display: block;
    width: 100%;
    height: auto;

    @include tablet {
      width: inherit;
      margin: 24px auto 0 auto;
      border-radius: 4px;
      box-shadow: $shadow;
    }
  }
  figcaption {
    margin: 16px 0 24px 0;
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
  }
}

.social-links {
  margin: 0.5rem 0;

  :first-child {
    margin-right: 0.5rem;
  }
}
